body {
    font-family: Arial, sans-serif;
    background-color: #EEF7FF;
}

.container {
    max-width: 530px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #7AB2B2;
    margin-top: 150px; 
}

h1{
    font-weight: bold;
    color: #153448;
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-dropdown {
    position: relative;
    flex: 1;
    margin-right: 5px;
    margin-left:5px;
}

input[type="text"], input[type="number"], button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#exchangeButton {
    width: 44px;
    height: 44px;
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: blue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 44px;
    transition: transform 0.6s ease-in;
}


#exchangeButton:hover {
    background-color: #e0e0e0;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    background-color: #2C4E80;
}

button:hover {
    background-color: #00215E;
}

.result {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.dropdown-content {
    width: calc(100% - 2px);
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: auto;
    max-height: 200px;
    border: 1px solid #ddd;
    border-top: none;
}

.dropdown-option {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #ddd;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; 
}

.flag-image {
    width: 20px; 
    height: auto; 
    margin-right: 5px; 
}
.rotated {
    transform: rotate(180deg);
}
